@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Pretendard', ui-sans-serif, system-ui, sans-serif;

	--color-surface-base: #faf7f0;

	--color-ink-primary: #221f1c;
	--color-ink-muted: #8c8780;

	--color-line-bold: #221f1c;
	--color-line-light: #e0dbd4;
}

/* This is for daily posts*/
/* @font-face {
    font-family: 'Ridibatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-display: swap;
} */

html {
	font-family: var(--font-sans);
	background-color: var(--color-surface-base);
}
